<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

<nav>
  <a routerLink="/list-1" routerLinkActive="active">Link 1</a>
  <a routerLink="/list-2" routerLinkActive="active">Link 2</a>
  <a routerLink="/samples-1" routerLinkActive="active">Samples1</a>
  <a routerLink="/timer" routerLinkActive="active">Timer</a>
  <a routerLink="/name-card" routerLinkActive="active">Name Card</a>
  <a routerLink="/message-box" routerLinkActive="active">Message box</a>
   <a routerLink="/change" routerLinkActive="active">Change in console</a>
    <a routerLink="/view-content" routerLinkActive="active">View content</a>
    <br>
    <a routerLink="/ng-model" routerLinkActive="active">Ng model</a>
</nav>



<div>
  <router-outlet></router-outlet> 
</div>












